
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing:auto;
  font-weight:400;
  font-style: normal;
}


/* Common-Styless */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.tex-light-gray{
    color: #727272;
}

.feature-text-color{
    color: #FF900E;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1)
}

.main >section{
    margin-top: 130px;
}


/* button primary */

.btn-primary{
    padding: 12px 28px;
    font-size: 15px;
    font-weight: 600;

    color: #1a1a1a;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;

    transition: background-color 0.3s ease,
                box-shadow 0.3s ease,
                transform 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 0 12px rgba(231, 191, 16, 0.8);
}
.btn:active {
    transform: scale(0.97);
}








/* indivitual-stylees */

/* Nav-section */
.navbar{
    justify-content: space-around;
    align-items: center;
}

.nav-item{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    gap: 30px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700px;
    font-size: 1.5rem;
    
}

/* Banner */

.banner-content{
    max-width: 850px;
    margin: 50px auto;
    text-align: center;

    
}


.banner-titel{
    font-size: 4rem;
    font-weight: 700;
    
}
.banner-img{
    width: 100%;
    margin: 40px auto;
}



/* main */

.main{
    max-width: 1440px;
    margin: 0 auto;
}
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature{
    margin-left: 130px;
    max-width: 530px;

}
.feature-description{
    gap: px;
}

.feature-titel{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight: 500;
}

/* Feature will Enjoy */










/* Responsive */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .team{
        flex-direction: column;
    }

.team-img-container{
    grid-template-columns: repeat(1, 1fr);
}
.our-feature{
    margin-left: 80px;
}  
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
 
        flex-direction: column;
    }
.our-feature{
    margin: 50px auto;    
}
}